---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
    .page-header {
        padding: 2rem;
    }
    .project-name {
        font-size: 4rem;
    }
}
.page-header {
    background-color: red;
    background-image: url("../images/pattern_header.png"),linear-gradient(120deg, #303030, #666666);
    background-repeat: repeat, no-repeat;
    background-position: center center, left;
    border-bottom: 8px solid #d7d7d7;
}

.project-name {
    text-shadow: 0 1px 0 #CCCCCC,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}

.project-tagline {
    margin-bottom: 0;
    opacity: .9;
}