---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
    .page-header {
        padding: 2rem;
    }
}
.page-header {
    background-color: red;
    background-image: url("../images/pattern_header.png"),linear-gradient(120deg, #303030, #666666);
    background-repeat: repeat, no-repeat;
    background-position: center center, left;
}

.project-tagline {
    margin-bottom: 0;
}