<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossOrigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </header>
    <section id="interactive">
      <div id="input-controls">
        <div class="color-input-wrapper">
          <h3>Color 1</h3>
          <input type="text" name="color-1-hex">
        </div>
        <div id="steps_wrapper">
          <h3>Steps <span>(Intermediate colors)</span></h3>
          <input type="number" min="1" name="steps-num">
        </div>
        <div class="color-input-wrapper">
          <h3>Color 2</h3>
          <input type="text" name="color-2-hex">
        </div>
      </div>
      <div id="output-display"></div>
    </section>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by
          {% for maintainer in site.maintainers %}
          <a href="{{ maintainer.url }}" target="_blank" rel="external noopener noreferrer">{{ maintainer.name }}</a>
          {% endfor %}
          - <a href="{{ site.license.url }}" target="_blank">License {{ site.license.name }}</a></p>
      </footer>
    </main>
  </body>
</html>
