<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossOrigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ '/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}">
    <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | relative_url }}" color="#962cb4">
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
    <meta name="application-name" content="{{ site.title }}">
    <meta name="msapplication-TileColor" content="#962cb4">
    <meta name="theme-color" content="#ffffff">
    <script src="{{ '/assets/js/main.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    {% include head-custom.html %}
  </head>
  <body>
    <header class="page-header" role="banner">
      <a href="{{ '/' | relative_url }}"><img src="{{ '/assets/images/color_blend_icon.png' | relative_url }}"><h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1></a>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </header>
    <div id="content-wrapper">
      <section id="interactive">
        <div id="input-controls">
          <div class="color-input-wrapper">
            <h3>Color 1</h3>
            <input type="text" id="color-1-hex">
          </div>
          <div id="steps_wrapper">
            <h3>Intermediate colors</h3>
            <input type="number" min="1" step="1" value="6" id="step-num">
          </div>
          <div class="color-input-wrapper">
            <h3>Color 2</h3>
            <input type="text" id="color-2-hex">
          </div>
        </div>
        <div id="tip-msg">
          <p>Tip: Click on a color to copy its hex code!</p>
        </div>
        <div id="output-display">
          <div class="result-column">
            <h3>RGB Blending</h3>
            <div class="blend-colors">
              <div class="blend-color">
                <div class="color-preview" style="color: #123456"></div>
                <span class="color-hex-code">#123456</span>
              </div>
              <div class="blend-color">
                <div class="color-preview" style="color: #123456"></div>
                <span class="color-hex-code">#123456</span>
              </div>
              <div class="blend-color">
                <div class="color-preview" style="color: #123456"></div>
                <span class="color-hex-code">#123456</span>
              </div>
              <div class="blend-color">
                <div class="color-preview" style="color: #123456"></div>
                <span class="color-hex-code">#123456</span>
              </div>
              <div class="blend-color">
                <div class="color-preview" style="color: #123456"></div>
                <span class="color-hex-code">#123456</span>
              </div>
            </div>
          </div>
          <div class="result-column">
            <h3>HSV/HSB Blending</h3>
            <div class="blend-colors">
              <div class="blend-color">
                <div class="color-preview" style="color: #123456"></div>
                <span class="color-hex-code">#123456</span>
              </div>
              <div class="blend-color">
                <div class="color-preview" style="color: #123456"></div>
                <span class="color-hex-code">#123456</span>
              </div>
              <div class="blend-color">
                <div class="color-preview" style="color: #123456"></div>
                <span class="color-hex-code">#123456</span>
              </div>
              <div class="blend-color">
                <div class="color-preview" style="color: #123456"></div>
                <span class="color-hex-code">#123456</span>
              </div>
              <div class="blend-color">
                <div class="color-preview" style="color: #123456"></div>
                <span class="color-hex-code">#123456</span>
              </div>
            </div>
          </div>
          <div class="result-column">
            <h3>HSL Blending</h3>
            <div class="blend-colors">
              <div class="blend-color">
                <div class="color-preview" style="color: #123456"></div>
                <span class="color-hex-code">#123456</span>
              </div>
              <div class="blend-color">
                <div class="color-preview" style="color: #123456"></div>
                <span class="color-hex-code">#123456</span>
              </div>
              <div class="blend-color">
                <div class="color-preview" style="color: #123456"></div>
                <span class="color-hex-code">#123456</span>
              </div>
              <div class="blend-color">
                <div class="color-preview" style="color: #123456"></div>
                <span class="color-hex-code">#123456</span>
              </div>
              <div class="blend-color">
                <div class="color-preview" style="color: #123456"></div>
                <span class="color-hex-code">#123456</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <main id="content" class="main-content" role="main">
        {{ content }}
        <footer class="site-footer">
          <p class="copyright"><b>{{ site.title | default: site.github.repository_name }}</b> maintained by
            {% for maintainer in site.maintainers %}
            <a href="{{ maintainer.url }}" target="_blank" rel="external noopener noreferrer">{{ maintainer.name }}</a>
            {% endfor %}
            - <a href="{{ site.license.url }}" target="_blank">Website code under license {{ site.license.name }}</a></p>
        </footer>
      </main>
    </div>
  </body>
</html>
